
.firstDiv{
    display: flex;
}
.volunteer{
    color: #6bc96b;
    float: top;
    justify-self: flex-end;

}

.students{
    background-image: url("img/moneda.png");
    height: 200px;
    width: 300px;
    background-size: 100% 100%;
    grid-column: span;
    margin: auto;
    position: absolute;
    top: 200px;
    left: 100px;
    color: #083901;
}
.students:hover{
    /*color: rgba(225, 225, 225, 1);
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;*/

}
body{
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    background-image: url("img/bosque.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.list{
<<<<<<< HEAD

    image-repeat: no repeat;
    background-size: 100% 100%;
    display:flex;
=======
>>>>>>> f2207971d1e2b37db51e173e73e1db36c6493f7b

}

.modal{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);

    position: absolute;
    top: 0;
    left: 0;

    display: flex;

    animation: modal 0s 3s forwards;
    visibility: hidden;
    opacity: 0;
}
h2{
    color: #055c0b;
}
.window{
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    width: 50%;
    height: 50%;
    color: azure;
    font-size: 18px;
    text-align: center;
    padding: 33px;
    min-height: 250px;
    border-radius: 22px;
    position: absolute;
    left: 34%;
    top: 35%;
    display: none;
}

.contenido{
    margin: auto;
    width: 60%;
    height: 60%;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    border-radius: 10px;
}

#cerrar{
    display: none;
}
#cerrar + label {
    position: fixed;
    color: #fff;
    font-size: 25px;
    z-index: 50;
    background: #023606;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    right: 10px;
    cursor: pointer;

    animation: modal 0s 3s forwards;
    visibility: hidden;
    opacity: 0;

}
#cerrar:checked + label, #cerrar:checked ~ .modal {
    display:none;
}
@keyframes modal{
    100% {
        visibility: visible;
        opacity:1;
    }
}




