body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.main-container {
    text-align: center;
}

#spinButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#resultName {
    margin-top: 20px;
    font-size: 24px;
}